article{
    position: relative;
    overflow: hidden;
    .act{
        visibility:hidden;
        transition: 0.3s;
    }
    .blue_rigth{
        background-color: #94C6FF;
        width: 30%;
        height: 100%;
        position: absolute;
        right: 0;
        z-index: -1;
    }
    .products{
        max-width: 1000px;
        margin: 50px auto;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        justify-items: center;
        align-items: center;
            .product{
                margin: 10px;
                background-color: white;
                padding: 30px;
                position: relative;
                max-height: 500px;
                box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                &:hover{
                    box-shadow: 0px 13px 28px 0px rgba(0,0,0,0.75);
                    -webkit-box-shadow: 0px 13px 28px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 13px 28px 0px rgba(0,0,0,0.75);
                    transition: 0.5s;
                }
            .img{
                max-width: 100%;
                max-height: 350px;
                overflow: hidden;
                margin: 0 auto;
                cursor: pointer;
                img{
                    max-width:100%;
                    max-height:100vw;
                    &:hover{
                        scale: 1.01;
                        rotate: 0.5deg;
                        transition: 0.4s;
                    }
                }
            }
            h4{
                width: fit-content;
                // background-color: #94C6FF;
                margin-top: 5px;
            }
            button{
                font-size: 40px;
                width: 60px;
                height: 50px;
                border-radius: 10px;
                padding: 4px;
                border: 0;
                text-align: center;
                cursor: pointer;
                position: absolute;
                right: 29px;
                bottom: 8px;
                background-color: #f9f7f7;
                transition: 0.5s;
                &:hover{                   
                    background-color: rgb(219, 219, 219);
                }
                &:active{
                    background-color:#94C6FF ;
                    color:rgb(191, 191, 191);
                    transform: 0.5s;
                }
            }
        }
    }
}
// @media only screen and (max-width: 1064px) {
//     .products{
//         .product{ 
//             .img{
//                 max-height: 350px;
//             }
//         }
//     }    
// }
@media only screen and (max-width: 768px) {
    article{
        .blue_rigth{
            width: 40%;
            height: 100%;
        }
        .products {
            grid-template-columns: 1fr;
            .product{
                .img{
                    max-width: 95%;
                    height: 95%;
                    overflow: hidden;
                  img{
                      max-width:100%;
                      max-height:100%;
                    }
                }
                h4{
                    margin-left: 2.5%;
                    margin-top: 5px;
                }
                button{
                    font-size: 25px;
                    width: 40px;
                    max-height: 35px;
                    position:absolute;
                    bottom: 24px;
                    right: 38px;
                }
            }
          }
    }
}