.container{
    max-width: 1349px;
    height: 100vh;
    padding-top: 50px;
    .container_items{
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #94C6FF;
        width: 100%;
        height: fit-content;
        .item{
            border: 1px solid rgb(236, 236, 236);
            background-color: rgb(250, 250, 250);
            box-shadow: 0px 13px 28px 0px rgba(0,0,0,0.75);
            -webkit-box-shadow: 0px 13px 28px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 13px 28px 0px rgba(0,0,0,0.75);
            max-width: 50%;
            margin: 20px auto;
            position: relative;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            align-items: center;
            h2{
                font-size: 2em;
                position: absolute;
                right: -17px;
                top: -20px;
                cursor: pointer;
            }
            img{
                max-width: 120px;
                position: relative;
                margin: 20px;
            }
            p{
                position: absolute;
                bottom: 0;
                left: 20px;
                color: rgb(66, 66, 66);
            }
            span{
                font-size: 20px;
                font-weight: 500;
            }
            .count{
                display: flex;
                justify-content: center;
                align-items: center;
                padding-right: 3px;
                button{
                    width: 25px;
                    height: 25px;
                    background-color: black;
                    border-radius: 50%;
                    color: white;
                    font-size: 20px;
                    cursor: pointer;
                    &:hover{
                        background-color: rgb(31, 31, 31);
                        transition: 0.3s;
                    }
                }
                h3{
                    margin: 5%;
                    
                }
                
            }
        }
        @media only screen and (max-width: 768px){
            .item{
               max-width: 85%;
            }
        }
    }
    .finalyPrice{
        margin-top : 40px;
        margin-left: 40px;
    }
    .buy{
        width: 150px;
        margin : 40px;
        justify-self: end;
        background-color: black;
        border-radius: 10px;
        padding: 5px 20px;
        color: white;
        font-size: 20px;
        cursor: pointer;
        &:hover{
            background-color: rgb(31, 31, 31);
            transition: 0.3s;
        }
    }
}