.form_container{
    max-width: 1349px;
    height: 100vh;
    .blue{
        padding-top: 90px;
        max-width: 1349px;
        height: 400px;
        background-color: #94C6FF;
        form{
            background-color: rgb(250, 250, 250);
            margin: 10px auto;
            border: 1px solid rgb(236, 236, 236);
            border-radius: 10px;
            max-width: 40%;
            display: grid ;
            grid-template-columns: 1fr;
            padding: 20px 30px;
            box-shadow: 0px 13px 28px 0px rgba(0,0,0,0.75);
            -webkit-box-shadow: 0px 13px 28px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 13px 28px 0px rgba(0,0,0,0.75);
            input{
                line-height: 30px;
                padding-left: 5px;
                font-size: 16px;
                border-radius: 10px;
                border: 0;
                background-color: #E8F0FE;
            }
            label{
                margin-top:  30px;
                margin-bottom: 5px;
            }
            .number::-webkit-outer-spin-button,
            .number::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }
            .submit{
                width: 60%;
                margin-top: 40px;
                justify-self: end;
                background-color: black;
                border-radius: 10px;
                padding: 5px 20px;
                color: white;
                font-size: 20px;
                cursor: pointer;
                &:hover{
                    background-color: rgb(31, 31, 31);
                    transition: 0.3s;
                }
            }
        }
        @media only screen and (max-width: 1000px){
            form{
                max-width: 60%;
            }
        }
        @media only screen and (max-width: 769px){
            form{
                max-width: 70%;
            }
        }
    }
}